.container { 
  width: 156px;
  @media (min-width: 900px) {
    width: 176px;
  }
}

.poster {
  border-radius: 4px;
}

.description {
  display: flex;
  flex-direction: column;
  a {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    transition: 0.2s;

    &:hover{
      color: var(--orange);
    }
  }
  span {
    color: var(--gray-500);
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
  }
}